@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

select {
  background: white;
}

.bannerIsOpen {
  transition-duration: 0.5s;
  transition-delay: 0s;
  left: 50vw;
}

.bannerIsClosed {
  transition-duration: 0.5s;
  transition-delay: 0s;
  left: 94vw;
}

svg circle {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.underline-blue,
.underline-lightGreen,
.underline-orange,
.underline-pink,
.underline-yellow,
.underline-lightBlue {
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 0.1em;
  background-position: 0 90%;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.underline-blue {
  background-image: linear-gradient(120deg, #62b4ff 0%, #62b4ff 100%);
}
.underline-lightGreen {
  background-image: linear-gradient(120deg, #a3f78e 0%, #a3f78e 100%);
}
.underline-orange {
  background-image: linear-gradient(120deg, #ff985f 0%, #ff985f 100%);
}
.underline-pink {
  background-image: linear-gradient(120deg, #f36aff 0%, #f36aff 100%);
}
.underline-yellow {
  background-image: linear-gradient(120deg, #fff128 0%, #fff128 100%);
}
.underline-lightBlue {
  background-image: linear-gradient(120deg, #43f4ff 0%, #43f4ff 100%);
}

.underline-blue:hover,
.underline-lightGreen:hover,
.underline-orange:hover,
.underline-pink:hover,
.underline-yellow:hover,
.underline-lightBlue:hover {
  background-size: 100% 100%;
  background-position: 0 100%;
}

/* .parent {
  fill-opacity: 0;

  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 2px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
} */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
